/* width : 100%, height : 0 => width,height 지정 가능 */
* {
  /* 요소크기 = content + padding + border */
  box-sizing: border-box; /* content-box(default) */
}
.child {
  width: 100px;
  height: 100px;
  background-color: orange;
  padding: 10px;
  border: 2px solid red;
}
