/* menu : border, width:350, height:145, 상단 magin */
.menu {
  border: 2px solid lightgray;
  width: 350px;
  height: 145px;
  margin-top: 50px;
  position: relative;
}
/* read-more : 안쪽여백 상하 0, 좌우 10, 밑줄제거, 흰색, 검정배경 */
.read-more {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #5a8dff;
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  /* bottom: 155px; */
  /* top: -50px; */
}
