/* 
    z-index : 요소 쌓임 순서 지정
    1) position:static 을 제외한 position 속성 값이 있을 경우 가장 위에 쌓임
    2) position 이 모두 존재한다면 z-index 속성의 숫자 값이 높을 경우 위에 쌓임
    3) position 속성의 값이 있고, z-index 속성의 숫자 값이 같다면 HTML 의 마지막 코드일수록 위에 쌓임

*/

img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
